<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Hoe Laat" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= stylesheet_link_tag "/assets/builds/application.css" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <main class="app-main">
      <% if notice %>
        <div class="" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="" role="alert">
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
